@media (max-width: 480px) {
    .wrapper {
        max-width: 480px;
    }
    .site-top {
        font-size: 12px;
        float: none;
        text-align: center;
    }
    .top-time {
        display: none;
    }
}