@media screen and (max-width: 425px) {
    .wrapper {
        max-width: 425px;
    }
    /* Самый верхний блок */
    .site-top {
        padding: 18px 0;
        font-size: .9em;
    }
    .top-text {
        margin: 0 auto;
    }
    .top-time {
        display: none;
    }
    /* Верхняя часть сайта */
    .site-header {
        padding: 0;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    .site-header .wrapper {
        padding: 0;
    }
    .header-container {
        padding: 0;
    }
    .mobile-button {
        display: block;
    }
    .site-logo {
        max-width: 191px;
        margin: 0;
        align-items: center;
    }
    .site-logo img {
        width: 24px;
        height: 24px;
    }
    .search-button-mob {
        display: block;
    }
    .header-left {
        background-color: white;
        box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    }
    .header-left,
    .header-right {
        padding: 0 24px;
        width: 100%;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .header-left .header-item {
        display: none;
    }
    .header-right .header-item:nth-child(2) {
        display: none;
    }
    /* Навигация сайта */
    .navigation-list {
        display: none;
    }
}