
html, body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	background-color: #f9f9f9;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.wrapper {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1000px;
}
